@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");
$font-family: "Roboto", sans-serif;


//Color
$white: white;

//Body config
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

//image config
img {
  width: 100%;
}


//html min height
html {
  min-height: 100%;
}


li{
    list-style: none;
}

a{
  text-decoration: none;
}